# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tsk

# python & Notebook files
.ipynb
.ipynb_checkpoints
__pycache__/
*.py[cod]
.idea

.DS_Store
.vscode

CMakeCache.txt
CmakeFiles
cmake_install.cmake
Makefile
Testing
_deps
*.cmake
